.wrapper {
  padding-top: 60px;
  padding-left: 100px;
  background-color: rgb(48, 46, 46);
  height: 100vh;
}
@media screen and (max-width: 925px) {
  .wrapper {
    padding-left: 20px;
  }
}
.title {
  color: white;
  font-size: 30px;
}
.text {
  color: rgb(206, 206, 206);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out;
}

.email {
  position: absolute;
  top: 245px;
  left: 125px;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: rgb(248, 35, 35);
  transition: all 0.6s ease;
  transition: opacity 1s ease-out;
}

.email:hover {
  text-decoration: underline;
}
.socials {
  position: absolute;
  right: 1%;
  top: 30%;
  transition: opacity 1s ease-out;
}
.link {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: -1px 1px 5px white;
  background-color: rgb(59, 59, 59);
  transition: opacity 1s ease-out;
  transition: all 0.4s ease;
}
.link:hover {
  background-color: rgb(248, 35, 35);
}
.github {
  padding-left: 5px;
  display: flex;
  gap: 15px;
}
.btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(248, 35, 35);
  color: white;
  padding: 15px;
  font-size: 24px;
  letter-spacing: 0.05em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(188, 188, 188);
  transition: all 0.4s ease;
}
.btn:hover {
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  font-size: 22px;
}
@media screen and (max-width: 925px) {
  .email {
    top: 192px;
    left: 45px;
    font-size: 14px;
  }
}
@media screen and (max-width: 630px) {
  .socials {
    overflow: hidden;
  }
  .link {
    width: 60px;
    overflow: hidden;
  }
}
@media screen and (max-width: 460px) {
  .email {
    top: 180px;
  }
  .socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    top: 50%;
    left: 0;
  }
  .email {
    left: 80px;
  }
}
