.wrapper {
  background: url("../../images/wallpaper.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.body {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (min-width: 768px) {
  .body {
    left: 50%;
    transform: translate(-20%, -50%);
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .body {
    top: -100px;
    bottom: 0;
    transform: translate(0, 0);
  }
}
