* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
    background-color: rgb(211, 211, 211);
}

body {
    color: #FFFFFF;
    line-height: 1;
    font-family: "Sofia+Sans+Condensed";
    font-size: 1rem;
    font-weight: 600;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Sofia+Sans+Condensed";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
    flex: 1 1 auto;
}

[class*=-ibg] {
    position: relative;
}

[class*=-ibg] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*=__container] {
    max-width: 78.75rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.header__contacts {
    min-height: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 32, 32);
    color: rgb(199, 199, 199);
    letter-spacing: 1;
}

.header__email,
.header__telephone,
.header__email-works,
.header__telephone-works {
    display: flex;
    align-items: center;
    padding: 0.3125rem;
    cursor: pointer;
    gap: 0.3125rem;
    transition: all 0.3s ease 0s;
}

@media (min-width: 78.75em) {
    .header__email,
  .header__telephone,
  .header__email-works,
  .header__telephone-works {
        font-size: 1.125rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .header__email,
  .header__telephone,
  .header__email-works,
  .header__telephone-works {
        font-size: calc(0.625rem + 0.5 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .header__email,
  .header__telephone,
  .header__email-works,
  .header__telephone-works {
        font-size: 0.625rem;
    }
}

.header__email:hover,
.header__telephone:hover,
.header__email-works:hover,
.header__telephone-works:hover {
    color: rgb(255, 255, 255);
    transform: scale(0.98);
}

.header__email:hover img,
.header__telephone:hover img,
.header__email-works:hover img,
.header__telephone-works:hover img {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .header__phone-works,
  .header__mail-works {
        display: none;
    }
}

@media (max-width: 700px) {
    .header__telephone-works {
        margin-left: 3.125rem;
    }
}

@media (max-width: 700px) {
    .header__email-works {
        margin-right: 3.125rem;
    }
}

.header__email,
.header__telephone {
    opacity: 0;
}

.show__mail-tel {
    opacity: 1;
    animation: show-mail-tel 3s;
}

@keyframes show-mail-tel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header__logo,
.header__logo-works {
    font-family: "Edu TAS Beginner", cursive;
    color: white;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: rgb(33, 32, 32);
    border-radius: 5%;
    min-width: 15.625rem;
}

@media (min-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        font-size: 2.1875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        font-size: calc(1.25rem + 0.9375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .header__logo,
  .header__logo-works {
        font-size: 1.25rem;
    }
}

@media (min-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        letter-spacing: 0.1875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        letter-spacing: calc(0.0625rem + 0.125 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .header__logo,
  .header__logo-works {
        letter-spacing: 0.0625rem;
    }
}

@media (min-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        padding-left: 1.5625rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .header__logo,
  .header__logo-works {
        padding-left: 0.625rem;
    }
}

@media (min-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        padding-right: 1.5625rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .header__logo,
  .header__logo-works {
        padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .header__logo,
  .header__logo-works {
        padding-right: 0.625rem;
    }
}

@media (max-width: 480px) {
    .header__logo-works {
        min-width: 13.75rem;
    }
}

.one {
    visibility: hidden;
    opacity: 0;
}

.two {
    visibility: hidden;
}

.show-one {
    visibility: visible;
    opacity: 1;
    animation: show-opacity 2s ease;
}

@keyframes show-opacity {
    0% {
        opacity: 0;
        color: green;
        font-size: 0.75rem;
    }

    25% {
        opacity: 0.2;
        color: yellow;
        font-size: 0.875rem;
    }

    50% {
        opacity: 0.4;
        color: red;
        font-size: 1rem;
    }

    75% {
        opacity: 0.6;
        color: blue;
        font-size: 1.125rem;
    }

    100% {
        opacity: 1;
        color: white;
        font-size: 1.25rem;
    }
}

.show-two {
    visibility: visible;
    opacity: 1;
    animation: show-opacity 2s ease;
}

@media (max-width: 650px) {
    .header__phone,
  .header__mail {
        display: none;
    }
}

.page__arrow {
    position: absolute;
    top: -100%;
    right: 3%;
}

.page__arrow-show {
    top: 25%;
    animation: arrow-show linear 2s;
}

@media (max-width: 650px) {
    .page__arrow-show {
        margin-top: 3.125rem;
    }
}

@media (max-width: 480px) {
    .page__arrow-show {
        margin-top: 4.375rem;
    }
}

@keyframes arrow-show {
    from {
        top: -100%;
    }

    to {
        top: 25%;
    }
}

.page__arrow-hide {
    opacity: 0;
    visibility: hidden;
    animation: arrow-hide linear 1s;
}

@keyframes arrow-hide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 78.75em) {
    .arrow__text {
        font-size: 1.875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .arrow__text {
        font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .arrow__text {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .arrow__text {
        font-size: 1.25rem;
    }
}

.arrow__image img {
    width: 100%;
}

@media (max-width: 480px) {
    .arrow__image img {
        width: 80%;
    }
}

.arrowUp {
    transform: scale(1.1);
}

.header__icons-works {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(33, 32, 32);
    padding-top: 2.5rem;
}

@media (max-width: 1000px) {
    .header__icons-works {
        padding-top: 3.125rem;
    }
}

@media (max-width: 700px) {
    .header__icons-works {
        padding-top: 5rem;
    }
}

.header__icon-works img {
    opacity: 0.2;
}

@media (max-width: 480px) {
    .header__icon-works img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    .icon3-works img {
        width: 30px;
        height: 40px;
    }
}

.header__icons-hide img {
    opacity: 0;
    animation: header__icons-hide linear 1s;
}

@keyframes header__icons-hide {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 0;
    }
}

#menu {
    z-index: 2;
    transform: translateY(40px);
}

#menu-bar {
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

#menu-bar2 {
    width: 60px;
    height: 60px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.burger-show {
    width: 80px;
    height: 60px;
    animation: burger-show linear 3s;
}

@keyframes burger-show {
    from {
        width: 1px;
        height: 1px;
    }

    to {
        width: 80px;
        height: 60px;
    }
}

.burger-hide {
    width: 1px;
    height: 1px;
    animation: burger-hide linear 2s;
}

@keyframes burger-hide {
    from {
        width: 80px;
        height: 60px;
    }

    to {
        width: 1px;
        height: 1px;
    }
}

.burger2-hide {
    opacity: 0;
    visibility: hidden;
    animation: burger-hide linear 1.5s;
}

@keyframes burger-hide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.works-list2 {
    margin-top: -1.25rem;
}

.works-list1 {
    margin-top: 1.875rem;
}

.works-list3 {
    margin-top: -1.25rem;
}

.li-contacts {
    margin-left: -3.125rem;
}

.bar {
    height: 10px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav2 {
    transition: 0.3s ease;
    display: none;
}

.nav2 ul {
    padding: 0 22px;
}

.nav2 li {
    list-style: none;
    padding: 10px 0;
}

.nav2 li a {
    color: white;
    font-size: 21px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav2 li a:hover {
    color: rgb(184, 183, 183);
}

.nav2 li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 80px 0 20px 10px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 400px;
    height: 300px;
    transform: translate(-60%, -30%);
}

.element-animation1 {
    opacity: 0;
    transform: translateX(-150px);
}

.element-animation1.element-show {
    opacity: 1;
    transition: all 2.5s ease 0s;
    transform: translateX(0%);
}

.element-animation2 {
    opacity: 0;
    transform: translateX(150px);
}

.element-animation2.element-show {
    opacity: 1;
    transition: all 2.5s ease 0s;
    transform: translateX(0%);
}

.element-animation3 {
    opacity: 0;
    transform: translateY(150px);
}

.element-animation3.element-show {
    opacity: 1;
    transition: all 1.5s ease 0s;
    transform: translateY(0%);
}

.element-animation4 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation4.element-show {
    opacity: 1;
    transition: all 1s ease 0s;
    transform: translateY(0%);
}

.element-animation5 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation5.element-show {
    opacity: 1;
    transition: all 1.5s ease 0s;
    transform: translateY(0%);
}

.element-animation6 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation6.element-show {
    opacity: 1;
    transition: all 2s ease 0s;
    transform: translateY(0%);
}

.element-animation7 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation7.element-show {
    opacity: 1;
    transition: all 2.5s ease 0s;
    transform: translateY(0%);
}

.element-animation8 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation8.element-show {
    opacity: 1;
    transition: all 3s ease 0s;
    transform: translateY(0%);
}

.element-animation9 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation9.element-show {
    opacity: 1;
    transition: all 3.5s ease 0s;
    transform: translateY(0%);
}

.element-animation10 {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation10.element-show {
    opacity: 1;
    transition: all 4s ease 0s;
    transform: translateY(0%);
}

.element-animation11 {
    opacity: 0;
    transform: translateY(200px);
}

.element-animation11.element-show {
    opacity: 1;
    transition: all 3s ease 0s;
    transform: translateY(0%);
}

.landing__box {
    margin-top: 6.25rem;
}

@media (min-width: 78.75em) {
    .one-works,
  .two-works {
        font-size: 3.125rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .one-works,
  .two-works {
        font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .one-works,
  .two-works {
        font-size: 1.875rem;
    }
}

.page-myProgects {
    background-color: rgb(33, 32, 32);
}

.landing__title {
    display: inline-block;
    margin-top: 3.125rem;
    margin-bottom: -5rem;
    margin-left: 4.375rem;
    color: rgb(192, 192, 192);
    text-shadow: 1px 1px 2px red, 0 0 0.2em rgb(137, 136, 136);
}

@media (min-width: 78.75em) {
    .landing__title {
        font-size: 1.875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .landing__title {
        font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .landing__title {
        font-size: 1.125rem;
    }
}

.landing__items,
.project__items {
    display: grid;
    row-gap: 3.125rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 78.75em) {
    .landing__items,
  .project__items {
        padding-left: 6.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .landing__items,
  .project__items {
        padding-left: calc(0.625rem + 5.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .landing__items,
  .project__items {
        padding-left: 0.625rem;
    }
}

@media (min-width: 78.75em) {
    .landing__items,
  .project__items {
        padding-right: 6.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .landing__items,
  .project__items {
        padding-right: calc(0.625rem + 5.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .landing__items,
  .project__items {
        padding-right: 0.625rem;
    }
}

@media (min-width: 78.75em) {
    .landing__items,
  .project__items {
        -moz-column-gap: 6.25rem;
        column-gap: 6.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .landing__items,
  .project__items {
        -moz-column-gap: calc(0.625rem + 5.625 * (100vw - 20rem) / 58.75);
        column-gap: calc(0.625rem + 5.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .landing__items,
  .project__items {
        -moz-column-gap: 0.625rem;
        column-gap: 0.625rem;
    }
}

@media (max-width: 887px) {
    .landing__items,
  .project__items {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 678px) {
    .landing__items,
  .project__items {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.landing__box {
    margin-bottom: 3.125rem;
}

@media (max-width: 480px) {
    .landing__box {
        margin-bottom: 0.625rem;
    }
}

@media (max-width: 480px) {
    .landing__items {
        margin-top: -0.625rem;
    }
}

.landing__item,
.project__item {
    position: relative;
    border: 1px solid black;
    box-shadow: 15px 15px 15px rgb(82, 81, 81);
    overflow: hidden;
}

.landing__item:hover .hover-landing,
.project__item:hover .hover-landing {
    left: 0;
    visibility: visible;
}

.landing__item:hover .hover-landing2,
.project__item:hover .hover-landing2 {
    right: 0;
    visibility: visible;
}

.landing__item:hover .landing__image,
.project__item:hover .landing__image {
    opacity: 0.2;
}

@media (max-width: 887px) {
    .landing__item img,
  .project__item img {
        height: 200px;
    }
}

.hide-landing__item {
    opacity: 0;
    visibility: hidden;
    animation: show-landing-item 1s linear;
}

@keyframes show-landing-item {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: none;
    }
}

.landing__header {
    background-color: rgb(238, 235, 235);
    min-height: 2.5rem;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 78.75em) {
    .landing__header {
        font-size: 1.875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .landing__header {
        font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .landing__header {
        font-size: 1.125rem;
    }
}

.landing__header p {
    opacity: 0.6;
}

.landing__image img {
    width: 100%;
}

.landing__hover img {
    width: 100%;
    opacity: 0.8;
}

.hover-landing {
    position: absolute;
    top: 12%;
    left: -120%;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.hover-landing2 {
    position: absolute;
    top: 12%;
    right: -120%;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.hover-landing__body {
    position: relative;
}

.hover-landing__items {
    display: flex;
    gap: 1.25rem;
}

.hover-landing__item {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(23, 21, 21);
    color: rgb(232, 227, 227);
}

@media (min-width: 78.75em) {
    .hover-landing__item {
        padding: 0.9375rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .hover-landing__item {
        padding: calc(0.3125rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .hover-landing__item {
        padding: 0.3125rem;
    }
}

@media (min-width: 78.75em) {
    .hover-landing__item {
        font-size: 0.9375rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .hover-landing__item {
        font-size: calc(0.5rem + 0.4375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .hover-landing__item {
        font-size: 0.5rem;
    }
}

.hover-landing__item span {
    color: rgb(174, 172, 172);
}

@media (min-width: 78.75em) {
    .hover-landing__item span {
        font-size: 1.125rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .hover-landing__item span {
        font-size: calc(0.625rem + 0.5 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .hover-landing__item span {
        font-size: 0.625rem;
    }
}

.hover-item1 {
    top: 20%;
    left: 2%;
}

.hover-item2 {
    top: 40%;
    left: 15%;
}

@media (max-width: 850px) {
    .hover-item2 {
        left: 10%;
    }
}

.hover-item3 {
    top: 60%;
    left: 30%;
}

.hover-item4 {
    top: 80%;
    left: 50%;
}

.projects__box {
    margin-top: 6.25rem;
    padding-bottom: 3.125rem;
}

.page-portfolio {
    background-color: rgb(33, 32, 32);
}

.show__background {
    background: url("../images/wallpaper.jpg") no-repeat center;
    background-size: 100%;
    position: relative;
    animation: show-page 2s ease;
}

@media (max-width: 900px) {
    .show__background {
        background-size: auto;
    }
}

.hide-background {
    opacity: 0;
    animation: hide-background 1s ease;
}

@keyframes hide-background {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0.3;
        visibility: hidden;
    }
}

@keyframes show-page {
    0% {
        opacity: 0;
        visibility: visible;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.screen {
    position: absolute;
    top: 10%;
    left: 16%;
    text-align: start;
    padding: 0.9375rem;
    max-width: 45rem;
    line-height: 1.2;
    color: rgb(189, 180, 180);
}

@media (min-width: 78.75em) {
    .screen {
        font-size: 1.5rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .screen {
        font-size: calc(1rem + 0.5 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .screen {
        font-size: 1rem;
    }
}

@media (max-width: 440px) {
    .screen {
        left: 5%;
        top: 15%;
    }
}

.page__iconsOnStart {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50% -50%);
}

.page__iconsOnStart-body {
    position: relative;
}

@media (max-width: 800px) {
    .page__iconsOnStart-body {
        transform: translateX(-50px);
    }
}

.loading {
    color: red;
    font-size: 2.1875rem;
    padding-left: 2.5rem;
    transform: translateY(-20px);
}

@media (max-width: 800px) {
    .loading {
        padding-left: 0rem;
    }
}

.loading-hide {
    opacity: 0;
    visibility: hidden;
    animation: loading-hide linear 2.5s;
}

@keyframes loading-hide {
    0% {
        opacity: 1;
        visibility: visible;
    }

    20% {
        opacity: 0.8;
        font-size: 40px;
    }

    40% {
        opacity: 0.6;
        font-size: 50px;
    }

    60% {
        opacity: 0.4;
        font-size: 60px;
    }

    80% {
        opacity: 0.2;
        font-size: 70px;
    }

    100% {
        opacity: 0;
        font-size: 80px;
        visibility: hidden;
    }
}

.page__iconOnStart {
    position: absolute;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.iconOnStart1 {
    top: -40px;
    left: -50px;
}

.iconOnStart1-move {
    top: -140px;
    left: -480px;
    animation: iconOnStart1-move 3s linear;
}

@keyframes iconOnStart1-move {
    from {
        top: -40px;
        left: -50px;
    }

    to {
        top: -140px;
        left: -480px;
    }
}

.iconOnStart2 {
    top: -90px;
    left: 5px;
}

.iconOnStart2-move {
    top: 70px;
    left: 265px;
    animation: iconOnStart2-move 3s linear;
}

@keyframes iconOnStart2-move {
    from {
        top: -90px;
        left: 5px;
    }

    to {
        top: 70px;
        left: 265px;
    }
}

.iconOnStart3 {
    top: -110px;
    left: 70px;
}

.iconOnStart3-move {
    top: -210px;
    left: 60px;
    animation: iconOnStart3-move 3s linear;
}

@keyframes iconOnStart3-move {
    from {
        top: -90px;
        left: 5px;
    }

    to {
        top: -210px;
        left: 60px;
    }
}

.iconOnStart4 {
    top: -70px;
    left: 120px;
}

.iconOnStart4-move {
    top: 120px;
    left: -450px;
    animation: iconOnStart4-move 3s linear;
}

@keyframes iconOnStart4-move {
    from {
        top: -70px;
        left: 120px;
    }

    to {
        top: 120px;
        left: -450px;
    }
}

.iconOnStart5 {
    top: -5px;
    left: 140px;
}

.iconOnStart5-move {
    top: 200px;
    left: 50px;
    animation: iconOnStart5-move 3s linear;
}

@keyframes iconOnStart5-move {
    from {
        top: -5px;
        left: 140px;
    }

    to {
        top: 200px;
        left: 50px;
    }
}

.iconOnStart6 {
    top: 30px;
    left: 10px;
}

.iconOnStart6-move {
    top: 150px;
    left: 700px;
    animation: iconOnStart6-move 3s linear;
}

@keyframes iconOnStart6-move {
    from {
        top: 30px;
        left: 10px;
    }

    to {
        top: 150px;
        left: 700px;
    }
}

.iconOnStart7 {
    top: 30px;
    left: 70px;
}

.iconOnStart7-move {
    top: -210px;
    left: 430px;
    animation: iconOnStart7-move 3s linear;
}

@keyframes iconOnStart7-move {
    from {
        top: 30px;
        left: 70px;
    }

    to {
        top: -210px;
        left: 430px;
    }
}

.page__icons {
    visibility: hidden;
    opacity: 0;
}

.show__icons {
    opacity: 1;
    visibility: visible;
    animation: show-icons 3s;
}

@keyframes show-icons {
    0% {
        opacity: 0;
        visibility: visible;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.page__icon {
    position: absolute;
}

@media (max-width: 800px) {
    .page__icon img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    .page__icon {
        display: none;
    }
}

.icon1 {
    top: 27%;
    left: 10%;
}

.icon2 {
    top: 62%;
    left: 64%;
}

@media (max-width: 880px) {
    .icon2 {
        left: 42%;
    }
}

.icon3 {
    top: 14%;
    left: 48%;
}

@media (max-width: 1000px) {
    .icon3 {
        left: 60%;
    }
}

@media (max-width: 880px) {
    .icon3 {
        top: 30%;
    }
}

@media (max-width: 800px) {
    .icon3 img {
        width: 25px;
        height: 25px;
    }
}

.icon4 {
    top: 72%;
    left: 15%;
}

@media (max-width: 880px) {
    .icon4 {
        left: 24%;
    }
}

.icon5 {
    top: 84%;
    left: 48%;
}

.icon6 {
    top: 71%;
    left: 89%;
}

@media (max-width: 880px) {
    .icon6 {
        left: 77%;
        top: 54%;
    }
}

.icon7 {
    top: 10%;
    left: 71%;
}

@media (max-width: 1000px) {
    .icon7 {
        left: 85%;
    }
}

@media (max-width: 880px) {
    .icon7 {
        left: 75%;
    }
}

.page__links {
    position: absolute;
    top: 40%;
    left: 0;
}

@media (max-width: 480px) {
    .page__links {
        left: -5%;
    }
}

.page__link {
    padding: 0.625rem;
    width: 8.75rem;
    transform: translateX(-50px);
}

.page__link img {
    margin-left: 3.75rem;
}

@media (max-width: 480px) {
    .page__link img {
        width: 40px;
        margin-left: 5rem;
    }
}

.link1 {
    transform: translateX(-150px);
    background-color: black;
    transition: all 0.3s ease 0s;
}

.link1:hover {
    transform: translateX(-20px);
}

.link1-show {
    transform: translateX(-50px);
    animation: link-show 2s linear;
}

@keyframes link-show {
    0% {
        transform: translateX(-150px);
    }

    20% {
        transform: translateX(-100px);
    }

    40% {
        transform: translateX(-70px);
    }

    60% {
        transform: translateX(-50px);
    }

    80% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-50px);
    }
}

.link-hide {
    transform: translateX(-150px);
    animation: link-hide 0.5s linear;
}

@keyframes link-hide {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-25px);
    }

    40% {
        transform: translateX(-50px);
    }

    60% {
        transform: translateX(-70px);
    }

    80% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(-150px);
    }
}

.link2 {
    transform: translateX(-150px);
    background-color: rgb(5, 155, 237);
    transition: all 0.3s ease 0s;
}

.link2:hover {
    transform: translateX(-20px);
}

.link2-show {
    transform: translateX(-50px);
    animation: link-show 3s linear;
}

.link3 {
    transform: translateX(-150px);
    background-color: rgba(47, 127, 240, 0.908);
    transition: all 0.3s ease 0s;
}

.link3:hover {
    transform: translateX(-20px);
}

.link3-show {
    transform: translateX(-50px);
    animation: link-show 4s linear;
}

.contacts__container {
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

@media (max-width: 480px) {
    .contacts__container {
        padding: 0 -1.25rem;
        margin-left: -3.75rem;
    }
}

.returnHome2 {
    padding-left: 2.1875rem;
}

.contacs-hide {
    opacity: 0;
    visibility: hidden;
    animation: contacs-hide linear 1.5s;
}

@keyframes contacs-hide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.header__contacts {
    background-color: rgb(33, 32, 32);
}

.page-myContacts {
    background-color: rgb(33, 32, 32);
    padding: 3.125rem;
}

.myContacts__title {
    padding-top: 2.5rem;
    color: rgb(205, 203, 203);
}

@media (min-width: 78.75em) {
    .myContacts__title {
        font-size: 4.375rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .myContacts__title {
        font-size: calc(1.5rem + 2.875 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .myContacts__title {
        font-size: 1.5rem;
    }
}

@media (min-width: 78.75em) {
    .myContacts__title:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .myContacts__title:not(:last-child) {
        margin-bottom: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .myContacts__title:not(:last-child) {
        margin-bottom: 0.3125rem;
    }
}

.myContacts__text {
    line-height: 1.4;
    color: rgb(164, 159, 159);
}

@media (min-width: 78.75em) {
    .myContacts__text {
        font-size: 1.875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .myContacts__text {
        font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .myContacts__text {
        font-size: 1.125rem;
    }
}

.myContacts__text span {
    color: rgb(227, 213, 213);
    letter-spacing: 1;
    transition: all 0.3s ease 0s;
}

@media (min-width: 78.75em) {
    .myContacts__text span {
        font-size: 2.1875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .myContacts__text span {
        font-size: calc(1rem + 1.1875 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .myContacts__text span {
        font-size: 1rem;
    }
}

.myContacts__text span:hover {
    color: white;
    background-color: rgb(42, 41, 41);
}

.myContacts__text:not(:last-child) {
    margin-bottom: 2.5rem;
}

.footer__contacts {
    background-color: rgb(42, 41, 41);
}

@media (min-width: 78.75em) {
    .footer__contacts {
        padding-bottom: 6.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .footer__contacts {
        padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .footer__contacts {
        padding-bottom: 1.875rem;
    }
}

@media (max-width: 800px) {
    .footer__contacts {
        margin-top: -5rem;
    }
}

@media (max-width: 480px) {
    .footer__contacts {
        padding-left: 3.75rem;
    }
}

.footer-title {
    padding-top: 2.5rem;
}

@media (min-width: 78.75em) {
    .footer-title {
        font-size: 3.125rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .footer-title {
        font-size: calc(1.5rem + 1.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .footer-title {
        font-size: 1.5rem;
    }
}

.footer__contacts-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (min-width: 78.75em) {
    .footer__contacts-icons {
        gap: 1.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .footer__contacts-icons {
        gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .footer__contacts-icons {
        gap: 0.625rem;
    }
}

@media (max-width: 600px) {
    .footer__contacts-icons {
        justify-content: center;
    }
}

.footer__contacts-icon {
    background-color: white;
    width: 10.3125rem;
    border-radius: 0.3125rem;
    padding: 0.625rem 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1;
    gap: 0.625rem;
    border: 2px solid white;
    box-shadow: 1px 3px 2px rgb(121, 120, 120);
    transition: all 0.3s ease 0s;
}

.footer__contacts-icon img {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

.footer__contacts-icon:hover {
    box-shadow: 1px 3px 2px rgb(150, 149, 149);
}

.icon-facebook {
    background-color: rgba(2, 154, 249, 0.937);
}

.icon-facebook:hover {
    background-color: rgba(2, 141, 228, 0.937);
}

.icon-linkedin {
    background-color: rgba(2, 105, 249, 0.974);
}

.icon-linkedin:hover {
    background-color: rgba(21, 95, 199, 0.974);
}

.icon-github {
    background-color: rgb(37, 37, 37);
}

.icon-github:hover {
    background-color: rgb(49, 49, 49);
}

.form {
    padding: 2.5rem 0;
    display: flex;
}

@media (min-width: 78.75em) {
    .form {
        gap: 6.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form {
        gap: calc(0.625rem + 5.625 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form {
        gap: 0.625rem;
    }
}

@media (max-width: 1000px) {
    .form {
        gap: 1.25rem;
    }
}

@media (min-width: 78.75em) {
    .form__left {
        margin-top: 5rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form__left {
        margin-top: calc(0.625rem + 4.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form__left {
        margin-top: 0.625rem;
    }
}

@media (max-width: 950px) and (min-width: 78.75em) {
    .form__right {
        margin-top: 5rem;
    }
}

@media (max-width: 950px) and (min-width: 20em) and (max-width: 78.75em) {
    .form__right {
        margin-top: calc(0.625rem + 4.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 950px) and (max-width: 20em) {
    .form__right {
        margin-top: 0.625rem;
    }
}

.form__input {
    display: flex;
    gap: 0.9375rem;
}

@media (max-width: 550px) {
    .form__input {
        flex-direction: column;
    }
}

.form__input:not(:last-child) {
    margin-bottom: 5rem;
}

.input {
    border: none;
    outline: none;
    background-color: inherit;
    color: rgb(223, 222, 222);
    letter-spacing: 1;
    border-bottom: 1px solid rgb(223, 222, 222);
    border-bottom-style: outset;
}

@media (min-width: 78.75em) {
    .input {
        font-size: 1.125rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .input {
        font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .input {
        font-size: 0.75rem;
    }
}

@media (max-width: 550px) {
    .input {
        width: 6.25rem;
    }

    .input::-moz-placeholder {
        font-size: 0.625rem;
        color: white;
    }

    .input::placeholder {
        font-size: 0.625rem;
        color: white;
    }
}

.form__btns {
    display: flex;
    gap: 0.9375rem;
}

@media (max-width: 800px) {
    .form__btns {
        flex-direction: column;
    }
}

.next,
.submit {
    padding: 0.625rem;
    background-color: grey;
    font-weight: 600;
    border-radius: 0.5rem;
    box-shadow: 3px 2px 2px rgb(180, 179, 179);
    transition: all 0.3s ease 0s;
    border: 2px solid white;
}

@media (min-width: 78.75em) {
    .next,
  .submit {
        font-size: 0.875rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .next,
  .submit {
        font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .next,
  .submit {
        font-size: 0.625rem;
    }
}

.next:hover:not([disabled]),
.submit:hover:not([disabled]) {
    box-shadow: 3px 2px 2px rgb(236, 212, 212);
    background-color: rgb(70, 69, 69);
    color: rgb(208, 204, 204);
    border-color: rgb(179, 179, 179);
}

.next:disabled,
.submit:disabled {
    opacity: 0.5;
}

@media (max-width: 800px) {
    .next,
  .submit {
        width: 100%;
    }
}

.submit__body {
    position: relative;
    overflow-x: hidden;
}

.submit__load {
    position: absolute;
    top: 0;
    opacity: 0.8;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(48, 41, 41);
}

.load__start {
    left: 0;
    animation: loading linear 5s;
}

@keyframes loading {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.front {
    opacity: 0.1;
}

.front-hide {
    opacity: 0;
    visibility: hidden;
    animation: front-hide linear 2s;
}

@keyframes front-hide {
    from {
        opacity: 0.1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.back {
    opacity: 0.1;
}

.envelope__back-sending {
    transform: scale(0);
    animation: sending linear 3s;
}

@keyframes sending {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.image__show {
    opacity: 1;
}

.form__envelope {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

@media (max-width: 800px) {
    .form__envelope {
        flex-direction: column;
        row-gap: 5rem;
    }
}

.envelope__front {
    position: relative;
}

.front {
    width: 15.625rem;
    height: 11.5625rem;
}

@media (max-width: 950px) {
    .front {
        width: 10.625rem;
        height: 6.5625rem;
    }
}

.envelope__front-content {
    position: absolute;
    top: 20%;
    left: 5%;
    color: black;
}

@media (min-width: 78.75em) {
    .form__name {
        font-size: 1.75rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form__name {
        font-size: calc(1rem + 0.75 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form__name {
        font-size: 1rem;
    }
}

@media (min-width: 78.75em) {
    .form__name {
        margin-bottom: 1.5625rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form__name {
        margin-bottom: calc(0.125rem + 1.4375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form__name {
        margin-bottom: 0.125rem;
    }
}

@media (min-width: 78.75em) {
    .form__mail {
        font-size: 1.125rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form__mail {
        font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form__mail {
        font-size: 0.75rem;
    }
}

.envelope__back {
    position: relative;
}

.back {
    transform: translateY(-50px);
    width: 16.875rem;
    height: 18.75rem;
}

@media (max-width: 950px) {
    .back {
        width: 11.875rem;
        height: 11.875rem;
    }
}

.form__text {
    position: absolute;
    top: 0;
    left: 20%;
    color: black;
}

@media (min-width: 78.75em) {
    .form__text {
        font-size: 1.25rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form__text {
        font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form__text {
        font-size: 0.875rem;
    }
}

@media (min-width: 78.75em) {
    .form__text {
        width: 12.5rem;
    }
}

@media (min-width: 20em) and (max-width: 78.75em) {
    .form__text {
        width: calc(6.25rem + 6.25 * (100vw - 20rem) / 58.75);
    }
}

@media (max-width: 20em) {
    .form__text {
        width: 6.25rem;
    }
}

.footer__icons {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 32, 32);
}

.footer__icons img {
    width: 40px;
}

.footer__icons .footer__icon3 img {
    width: 30px;
    height: 40px;
}

.footer__icons-works {
    display: flex;
}

.footer__icons-works .icon3-works img {
    width: 40px;
    height: 50px;
}

.footer__icons-hide {
    visibility: hidden;
    opacity: 0;
    animation: footer__icons-hide linear 1.5s;
}

@keyframes footer__icons-hide {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.footer__icons-show {
    visibility: visible;
    opacity: 1;
    animation: footer__icons-show linear 1.5s;
}

@keyframes footer__icons-show {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.footer__icon-works img {
    width: 50px;
}

@media (max-width: 480px) {
    .footer__icons-show {
        display: flex;
    }
}