.projects {
  min-height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  padding-top: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgb(210, 206, 206);
  background-color: rgb(96, 95, 95);
}

.link span {
  display: none;
}
.link img {
  width: 35px;
}
@media (min-width: 768px) {
  .nav {
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .link {
    font-size: 16px;
  }
  .link span {
    display: block;
    font-size: 12px;
  }
  .link img {
    width: 45px;
  }
  .link {
    flex-direction: row;
    align-items: end;
    gap: 10px;
    transition: all 0.4s ease;
  }
  .link:hover,
  .link:focus {
    transform: scale(0.95);
    box-shadow: 5px 5px 5px rgb(210, 206, 206);
    background-color: white;
    color: black;
  }
}
