.footer {
  z-index: 100;
  margin-top: -60px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
  color: rgb(206, 206, 206);
}
.icon {
  display: flex;
  align-items: center;
  gap: 25px;
  transform: translateY(-100px);
  transition: all 1s ease-in;
  animation: appear ease-in;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
}
.icon.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@keyframes appear {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media screen and (max-width: 800px) {
  span {
    display: none;
  }
}
