.footer {
  z-index: 100;
  margin-top: -100px;
  color: rgb(206, 206, 206);
}
.body {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transform: translateY(-100px);
  transition: all 1s ease-in;
  animation: appear ease-in;
}
.icon span {
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
}
.icon.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@keyframes appear {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .icon span {
    display: block;
  }
}
@media (min-width: 1440px) {
  .icon span {
    font-size: 24px;
  }
}
