.cv {
  position: fixed;
  top: 15%;
  right: 30%;
  color: white;
  width: 200px;
  text-align: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 3s ease-in, transform 3s ease-in;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.unvisible {
  opacity: 0;
  visibility: hidden;
  cursor: none;
}

@keyframes animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
.title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: rgb(206, 206, 206);
}
.arrows {
  display: flex;
  justify-content: space-between;
}
.image {
  position: absolute;
  top: 40px;
  left: 50px;
  animation: animation 1s infinite alternate;
}
@media screen and (max-width: 720px) {
  .cv {
    position: fixed;
    top: 70%;
    right: -10%;
    transform: translate(-50%, -50%);
  }
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .image {
    top: 10px;
  }
}
@media screen and (max-width: 460px) {
  .cv {
    top: 20%;
    left: 50%;
  }
}
