.cv {
  position: relative;
  opacity: 0;
  transform: scale(0);
  transition: opacity 3s ease-in, transform 3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.unvisible {
  opacity: 0;
  visibility: hidden;
  cursor: none;
}

@keyframes animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

.title {
  width: 120px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: rgb(206, 206, 206);
}

.arrows {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.image img {
  width: 70px;
  animation: animation 1s infinite alternate;
}
@media (min-width: 768px) {
  .title {
    width: 150px;
  }
}
@media (min-width: 1200px) {
  .title {
    width: 200px;
    font-size: 28px;
  }

  .image img {
    width: 120px;
  }
  .arrows {
    gap: 100px;
  }
}
